body {
    margin: 0;
    font-family: sans-serif;
    background: #ffbf00;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#bands {
    list-style: inside square;
    font-size: 20px;
    background: white;
    width: 500px;
    margin:50px auto;
    box-shadow: 0 0 0 20px rgba(0,  0, 0, 0.05);
}

#bands li {
    border-bottom: 1px solid #efefef;
    padding: 20px;
}

#bands li:last-child {
    border-bottom: 0;
}

a {
    color: #ffbf00;
    text-decoration: none;
}